<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><Welcome>You are here {{supa_user.first_name}}{{display.title}}</Welcome></h1>
    
    <form action="/likes" method="post">
        <button type="submit">Likes</button>
    </form>
    <form action="/dislikes" method="post">
    <button type="submit">Dislikes</button></form>
    
            
            
            
            {{display}}
    
    
    <a href="books/show_add_books"><button>Add Books</button></a>
    <a href="/logOut"><button>Logout</button></a>
    {%for me in Book%}
    <p>{{me.title}</p>
    <p>{{me.desc}</p>
    {%endfor%}
    
</body>
</html>